* {
  margin: 0;
  padding: 0;
}

.wrapper .header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(11, 32, 45); */
  background-image: linear-gradient(to right, rgb(24, 4, 4) , rgb(184, 184, 151));
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920;
  width: 80%;
  /* background-color: rgb(11, 31, 43); */
}

.logo {
  padding: 10px;
  font-size: 20px;
}

.navbar {
  display: flex;
  width: 50%;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar ul li {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li:hover, li:active {
  background-color: #fff;
  color: rgb(7, 7, 97);
  border-radius: 3px;
}

#button {
  display: none;
}

.mainbody {
  background-image: linear-gradient(to right, rgb(130, 49, 49) , rgb(126, 126, 75));
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  #button {
    display: block;
    font-size: 30px;
  }

  .header{
    position: relative;
  }

  .navbar {
    position: fixed;
    right: 0;
    top: 2.7rem;
    background-color: rgb(97, 130, 150);
    transition: all 0.3s ease-in-out;
  }

  .responsive{
    position: fixed;
    align-items: center;
    right: -100%;
    top: 2.7rem;
    background-color: rgb(146, 225, 231);
    transition: all 0.3s ease-in-out;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
   
  }
  .navbar ul li{
    margin-top: 1rem
  }

}